@charset "utf-8";
/**
 * @author Matthias Reischer
 * Sample File CSS
 */

body {
    background-color: #F5F5DC;
    color: #DC143C;
    font-family: Helvetica, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#header h1 {
    margin: 0;
    padding: 0;
}

#header h1 a {
    background-color:#DC143C;
    color: #F5F5DC;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

#menu ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

#menu ul li a{
    background-color:transparent;
    border: none;
    color: #DC143C;
    display: block;
    text-align: left;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 20px 20px;
    text-decoration: none;
}

#menu ul li:first-child a {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

#menu ul li:last-child a {
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

#content, #sidebar {
    padding: 12px;
}

.buttonBlack {
    color: #DC143C;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
}

.buttonBlack:hover {
background-color: #DC143C;
color: #fff;
}
